<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contato</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <h3>Papicu</h3>
      <p>Avenida Santos Dummont, 6675</p>
      <p>Peças e Serviços: (85) 4012-4050</p>
      <button ion-button block>Ver no mapa</button>
      <button ion-button block>Ligar</button>
    </ion-item>

    <ion-item>
      <h3>Benfica</h3>
      <p>Avenida Domingos Olímpio, 1441, 6675</p>
      <p>Peças e Serviços: (85) 3031-3505</p>
      <button ion-button block>Ver no mapa</button>
      <button ion-button block>Ligar</button>
    </ion-item>

    <ion-item>
      <h3>Sobral</h3>
      <p>Avenida da Universidade, 52</p>
      <p>Sobral-CE</p>
      <p>Peças e Serviços: (88) 3677-1001</p>
      <button ion-button block>Ver no mapa</button>
      <button ion-button block>Ligar</button>
    </ion-item> 
  </ion-list>
</ion-content>
