<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agendamento Silcar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img id="imagenS" src="/assets/imgs/silcar.png" (click)="empresa()" >

  <img id="agendamento" text-center src="/assets/imgs/agendar.png" (click)="agendar()" >
  <h3 text-center>AGENDAR</h3>
</ion-content>
