page-home {
    //Css da imagem silcar
    #imagenS {
        width: auto;
        margin: auto;
        display: block;
        padding-top: 10px;
    }

    //Css da imagem agendar
    #agendamento {
        width: auto;
        margin: auto;
        display: block;
        padding-top: 50px;
        width: 130px;
    }

}
