<ion-header>
  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sugestões e Elogios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label floating>Nome:</ion-label>
      <ion-input type="text" name="nome"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label floating>Assunto:</ion-label>
      <ion-input type="text" name="assunto"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label floating>Comentário::</ion-label>
      <ion-input type="text" name="comentário"></ion-input>
    </ion-item><br/>

    <button ion-button block clear (click)="enviar()">Enviar</button>
  </form>
</ion-content>
