<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agendamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-item>
          <ion-label floating>Placa:</ion-label>
          <ion-input type="text" name="placa"></ion-input>
        </ion-item> 
    
        <ion-item>
          <ion-label floating>Modelo:</ion-label>
          <ion-input type="text" name="modelo"></ion-input>
        </ion-item> 
    
        <ion-item>
          <ion-label floating>Kilometragem:</ion-label>
          <ion-input type="text" name="kilometragem"></ion-input>
        </ion-item><br/>

        <ion-item>
            <ion-label>Serviço:</ion-label>
            <ion-select>
              <ion-option value="1">Revisão 10.000 km</ion-option>
              <ion-option value="2">Revisão 20.000 km</ion-option>
              <ion-option value="3">Revisão 30.000 km</ion-option>
              <ion-option value="4">Revisão 40.000 km</ion-option>
              <ion-option value="5">Revisão 50.000 km</ion-option>
              <ion-option value="6">Troca de óleo</ion-option>
              <ion-option value="7">Alinhamento</ion-option>
              <ion-option value="8">Balanceamento</ion-option>
              <ion-option value="9">Manutenção Preventiva</ion-option>
            </ion-select>
        </ion-item><br/>

        <ion-item>
            <ion-label>Concessionária:</ion-label>
            <ion-select>
              <ion-option value="11">Silcar - Santos Dummont</ion-option>
              <ion-option value="12">Silcar - Benfica</ion-option>
              <ion-option value="13">Silcar - Sobral</ion-option>
            </ion-select>
        </ion-item><br/>

        <ion-item>
          <ion-label>Selecione a data:</ion-label>
          <ion-datetime displayFormat="DD: MM YYYY" pickerFormat="DD MM YYYY" max="2020-12-31"></ion-datetime>
        </ion-item><br/>

        <ion-item>
            <ion-label>Hora:</ion-label>
            <ion-select>
              <ion-option value="14">08:00</ion-option>
              <ion-option value="15">09:00</ion-option>
              <ion-option value="16">10:00</ion-option>
              <ion-option value="16">11:00</ion-option>
              <ion-option value="16">13:00</ion-option>
              <ion-option value="16">14:00</ion-option>
              <ion-option value="16">15:00</ion-option>
              <ion-option value="16">16:00</ion-option>
              <ion-option value="16">17:00</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Nome:</ion-label>
          <ion-input type="text" name="nome"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Contato:</ion-label>
          <ion-input type="number" name="tel"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input type="text" name="email"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-label floating>Mensagem:</ion-label>
          <ion-input type="text" name="mensagem"></ion-input>
        </ion-item> 

        <button ion-button block (click)="agendar()">Agendar</button>
      </form>
</ion-content>
